@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200..700&display=swap');


body {
    background: linear-gradient(135deg, rgba(174, 0, 255, 0.2), rgba(255, 0, 0, 0.1)), 
    url('../assets/images/fondo1.webp');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
header {
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
}
header h1 {
    color: #fff;
    line-height: 12px;
    margin-top: 48px;
    text-align: center;
}
.box {
    background: linear-gradient(0deg, rgba(0, 17, 252, 0.5), rgba(255, 0, 0, 0.9));
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 0px 20px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px;
    text-align: center;
}
.profile-picture {
    display: block; 
    margin: 16px auto;
    border-radius: 50%;
    border: 4px solid #ffd3d3;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
footer {
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
}
.social-network{
    list-style: none;
    min-height: 50px;
}
.social-network li {
    float: left ;
    margin: 0 24px ;
}
.social-icon {
    border-radius: 50%;
    border: 5px solid #ffd3d3;
    width: 40px;
    height: 40px;
    object-fit: cover;
    align-content: center;
   }